* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  font-family: "Nunito", sans-serif;
}

.is-hidden {
  display: none;
}

.game__footer {
  position: absolute;
  width: 105px;
  bottom: 10px;
  left: 50%;
  margin-left: -60px;
  font-size: 0.6em;
  color: #fff;
  text-align: center;
}
.game__footer a {
  display: inline-block;
  background: #000;
  color: #fff;
  text-decoration: none;
}

.game-intro {
  color: #fff;
}
.game-intro__heading {
  z-index: 2;
  position: relative;
  top: 0;
  left: 0;
  height: 100px;
  line-height: 100px;
}
.game-intro__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
}
.game-intro__wrapper {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  cursor: pointer;
}
.game-intro__wrapper:first {
  left: 0;
}
.game-intro__wrapper:last-child {
  left: 50%;
}
.game-intro__wrapper--separator {
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  margin-left: -25px;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  color: #333;
  font-size: 1em;
  text-align: center;
}
.game-intro__wrapper--single {
  background-color: #4A6884;
}
.game-intro__wrapper--single:hover {
  background-color: #384e63;
}
.game-intro__wrapper--multiplay {
  background-color: #3A98D4;
}
.game-intro__wrapper--multiplay:hover {
  background-color: #277db4;
}
.game-intro__content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  line-height: 200px;
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
}
.game-intro__content--large {
  font-size: 6em;
}

.game-board {
  width: 380px;
  height: 500px;
  margin: 5% auto;
  padding: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 25px 0px rgba(58, 152, 212, 0.5);
}
.game-board__heading {
  clear: both;
  height: 50px;
  margin-top: 20px;
}
.game-board__score {
  float: left;
  width: 123px;
  text-align: center;
  font-weight: bold;
}
.game-board__score--player-one-win {
  color: #3A98D4;
}
.game-board__score--player-two-win {
  color: #4A6884;
}
.game-board__score--draw {
  color: #666;
}
.game-board__score-name {
  margin-top: 5px;
}
.game-board__score-total {
  display: block;
  font-size: 1.5em;
}
.game-board__body {
  clear: both;
  width: 350px;
  height: 400px;
  margin: 10% auto;
}
.tic-tac-toe {
  margin: 0 auto;
}
.tic-tac-toe .row {
  float: left;
}
.tic-tac-toe .row:first-child .square {
  border-top: 0;
}
.tic-tac-toe .square {
  float: left;
  width: 1.2em;
  height: 1.2em;
  cursor: default;
  color: #4A6884;
  border-color: #ccc;
  font-size: 6em;
  line-height: 1.2em;
  border-style: solid;
  border-width: 2px 2px 0 0;
  text-align: center;
}
.tic-tac-toe .square:last-child {
  border-right: 0px;
}
.tic-tac-toe .x-marker {
  color: #4A6884;
}
.tic-tac-toe .o-marker {
  color: #3A98D4;
}

.message {
  margin-top: 10px;
}